:root {
  /* Color pallete */
  --black : #252323;
  --white : #FFFeff;
  --aqua : #595959;
  --aqua-fade: rgba(240, 248, 255, 0.585);

  /*- Typography -*/
  --big-font : Arial;
}

/* Change Box Model */
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/*- Header -*/
#top-header {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 30px;
  & .siteName {
    text-align: start;
    & a {
      font-size: 2.3rem;
    font-weight: 700;
    font-family: var(--big-font);
    text-decoration: none;
    color: var(--black);
    }
  }
  & #tools {
    text-align: end;
    & a {
      font-family: var(--big-font);
    text-decoration: none;
    color: var(--black);
    }
  }
}

/*- Navigation -*/

nav {  
    background-color: var(--black);
    padding: 5px;
    margin-top: 10px;
    & ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-around;
      padding: 10px;
      font-family: var(--big-font);
      & a {
        color: var(--white);
        text-decoration: none;
      }
    }
}

/*- Index (Main) -*/

#inv-display {
  & li {
    display: flex;
    flex-direction: row;
  }
  & img {
    width: 165px;
    height: auto;
    border-radius: 5%;
    padding: 5px 0px 0px 5px;
  }
  & .namePrice {
    & h2 {
      padding-left: 5px;
      & a {
        font-family: var(--big-font);
        text-decoration: none;
        color: var(--black);
      }
    }
    & span {
      font-size: large;
      font-family: var(--big-font);
      padding-left: 5px;
    }
  }
}

main {
  & h1 {
    padding: 10px;
    font-family: var(--big-font);
    font-size: x-large;
  }
  & ul {
    & .notice {
      margin-left: 20px;
    color: red;
    font-family: var(--big-font);
    }
  }
  & .delorean {
    display: flex;
    justify-content: center;
    position: relative; 
    & img {
      display: block;
      width: 23em;
      height: auto;
    }
    & .box {
      position: absolute;
      display: grid;
      grid-column: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      max-width: 190px;
      background-color: var(--aqua-fade);
      border-radius: 10px;
      font-family: var(--big-font);
      color: var(--aqua);
      left: 5%;
      top: 10%;
      z-index: 1;
      & button {
        background-color: var(--aqua);
        color: var(--white);
        border: none;
        font-family: var(--big-font);
        font-size: larger;
        border-radius: 10px;
      }
    }
  }
  & .reviews {
    display: flex;
    flex-direction: column;
    & h2 {
      font-family: var(--big-font);
      padding: 5px;
    }
    & ul {
      padding: 5px;
      padding-left: 20px;
      & li {
        font-family: var(--big-font);
        padding-bottom: 5px;
      }
    }
  }
  & .upgrade {
    & h2 {
      font-family: var(--big-font);
      padding: 5px;
      padding-bottom: 10px;
    }
    & .icons {
      font-family: var(--big-font);
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      margin: 5px;
      gap: 10px;
      & div {
        display: flex;
        flex-direction: column;
        padding: 5px;
        align-items: center;
        border: 1px solid;
        background-color: var(--aqua);
        & img {
          width: 35%;
          height: auto;
        }
        & a {
          color: var(--white);
        }
      }
    }
  }
  & .vehicle {
    border-radius: 15px;
    margin: 5px;
    text-align: center;
    & h2 {
      font-family: var(--big-font);
      font-size: 33px;
      padding: 5px;
    }
    & img {
      width: 100%;
      height: auto;
      border-radius: 15px;
    }
    & .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      padding: 5px;
      font-size: medium;
      font-family: var(--big-font);
    }
  }
  & .mngm-links {
    margin-left: 15px;
    font-size: larger;
    font-family: var(--big-font);
  }
}

.form {
  display: flex;
  justify-content: center;
  & form {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    background-color: var(--aqua);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    & a {
      text-decoration: none;
      color: var(--white);
      font-family: var(--big-font);
      font-size: large;
      padding: 10px 0px 0px 10px;
    }
    & p {
      padding: 5px;
      color: var(--white);
      font-family: var(--big-font);
    }
    & textarea {
      min-height: 100px;
      max-height: 300px;
      min-width: 100%;
      max-width: 100%;
      border-radius: 5px;
      border: none;
      font-family: var(--big-font);
    }
    & label {
      padding: 10px 0px 0px 10px;
      font-family: var(--big-font);
      color: var(--white);
    }
    & input, select {
      min-height: 25px;
      border-radius: 5px;
      border: none;
      padding-left: 5px;
      font-family: var(--big-font);
    }
    & input:required:valid {
      border-color: green;
      background-color: #e6ffe6;
    }
    & input:required:invalid {
      border-color: red;
      background-color: #ffe6e6;
    }
    & #submit {
      cursor: pointer;
      background-color: var(--white);
      border-radius: 5px;
      border: none;
      margin-top: 15px;
      padding: 10px;
      font-family: var(--big-font);
      color: var(--black);
      font-size: medium;
      &:hover {
        color: var(--white);
        background-color: var(--black);
      }
    }
  }
}

/*- Footer -*/
footer {
  font-family: var(--big-font);
  font-size: medium;
  padding-top: 10px;
}

/*--- Big Screens ---*/

@media only screen and (min-width: 37.5em) {
  body {
    background: url("../images/site/small_check.jpg") repeat-y left top;
  }
  #wrapper {
    display: grid;
    margin: 15px 50px 0px 50px;
    padding: 10px;
    border: 5px solid var(--aqua);
    border-radius: 15px;
    background-color: var(--white);
  }
 main {
  & h1 {
    font-size: xx-large;
  }
  & .vehicle {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  & .delorean {
    display: flex;
    justify-content: center;
    position: relative; 
    & img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  & .reviews-upgrades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "b a";
    padding: 10px;
  }
  & .reviews {
    grid-area: a;
    padding: 10px;
    margin-top: 10px;
    & h2 {
      font-size: 1.3rem;
    }
    & ul li {
      font-size: 1.1rem;
      
    }
  }
  & .upgrade {
    grid-area: b;
    padding: 10px;
    & h2 {
      font-family: var(--big-font);
      font-size: 1.2rem;
      padding: 5px;
      padding-bottom: 10px;
    }
    & .icons {
      font-family: var(--big-font);
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      gap: 10px;
      & div {
        display: flex;
        flex-direction: column;
        padding: 5px;
        align-items: center;
        border: 1px solid;
        background-color: var(--aqua);
        & img {
          width: 35%;
          height: auto;
        }
      }
    }
  }
  & .form {
    & form {
      text-align: start;
      justify-content: space-evenly;
      width: 75%;
      height: 100%;
    }
  }
 }
}

@media only screen and (min-width: 50em) {
  #wrapper {
    display: grid;
    margin: 15px 70px 15px 70px;
    padding: 10px;
    border: 5px solid var(--aqua);
    border-radius: 15px;
    background-color: var(--white);
  }
  main {
    & .delorean {
      & img {
        width: 60%;
      }
      & .box {
        min-width: 230px;
        min-height: 190px;
      }
    }
    & .reviews {
    grid-area: a;
    padding: 10px;
    margin-top: 10px;
      & h2 {
        font-size: 1.3rem;
      }
      & ul li {
        font-size: 1.1rem;
        padding: 10px;
      }
    }
    & .form {
      justify-content: center;
      & form {
        text-align: start;
        width: 50%;
        height:100%;
      }
  }
  }
}
